<div class="first_image_container">
  <div class="first_search">
    <h3>RoomReserveで<br>旅行しよう</h3>
    <%= form_with url:search_path, :method => "get" do |f|%>
      <%= f.text_field :erea_search, :placeholder => "エリア検索"%>
      <%= f.submit "検索する"%>
    <%end%>
    
  </div>
</div>